@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-moon-mist-50: #f7f7f3;
  --color-moon-mist-100: #ddddd1;
  --color-moon-mist-200: #ccccbb;
  --color-moon-mist-300: #b2b197;
  --color-moon-mist-400: #a09e7f;
  --color-moon-mist-500: #928c6e;
  --color-moon-mist-600: #80785f;
  --color-moon-mist-700: #6c6251;
  --color-moon-mist-800: #5a5246;
  --color-moon-mist-900: #4c443b;
  --color-moon-mist-950: #29241f;

  --color-rangitoto-50: #f6f5ef;
  --color-rangitoto-100: #ebe9dc;
  --color-rangitoto-200: #d9d5bd;
  --color-rangitoto-300: #c0bb96;
  --color-rangitoto-400: #a8a273;
  --color-rangitoto-500: #8c8756;
  --color-rangitoto-600: #6f6c41;
  --color-rangitoto-700: #565435;
  --color-rangitoto-800: #46442e;
  --color-rangitoto-900: #3d3d2a;
  --color-rangitoto-950: #292919;


  --color-black-50: #fafafa;
  --color-black-100: #f5f5f5;
  --color-black-200: #e6e6e6;
  --color-black-300: #d6d6d6;
  --color-black-400: #a5a5a5;
  --color-black-500: #767676;
  --color-black-600: #575757;
  --color-black-700: #434343;
  --color-black-800: #292929;
  --color-black-900: #1a1a1a;
  --color-black-950: #000000;



  --color-moon-mist-50: #f7f7f3;
  --font-sans: var(--font-satoshi);
  --font-heading: var(--font-clash-display);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}