@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
}
